<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="sunny suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Selenium.Jenkins.RegressionSuite"/>
      <class name="Selenium.Jenkins.SmokeSuite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Sanity -->
